
/XwtDatatable/XwtDatatable.suo
/XwtDatatable/XwtDatatable.userprefs
/XwtDatatable/XwtDatatable/XwtDatatable.vbproj.user
/XwtDatatable/XwtDatatable/bin/Debug/Xwt.WPF.dll
/XwtDatatable/XwtDatatable/bin/Debug/Xwt.dll
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.exe
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.exe.config
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.pdb
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.vshost.exe
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.vshost.exe.config
/XwtDatatable/XwtDatatable/bin/Debug/XwtDatatable.xml
/XwtDatatable/XwtDatatable/bin/Debug/northwindEF.db
/XwtDatatable/XwtDatatable/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/XwtDatatable/XwtDatatable/obj/x86/Debug/GenerateResource.read.1.tlog
/XwtDatatable/XwtDatatable/obj/x86/Debug/GenerateResource.write.1.tlog
/XwtDatatable/XwtDatatable/obj/x86/Debug/ResolveAssemblyReference.cache
/XwtDatatable/XwtDatatable/obj/x86/Debug/TempPE/My Project.Resources.Designer.vb.dll
/XwtDatatable/XwtDatatable/obj/x86/Debug/XwtDatatable.Resources.resources
/XwtDatatable/XwtDatatable/obj/x86/Debug/XwtDatatable.exe
/XwtDatatable/XwtDatatable/obj/x86/Debug/XwtDatatable.pdb
/XwtDatatable/XwtDatatable/obj/x86/Debug/XwtDatatable.vbproj.FileListAbsolute.txt
/XwtDatatable/XwtDatatable/obj/x86/Debug/XwtDatatable.xml